<ion-view title="{{entry.id == 'new' ? 'New comics entry': 'Edit comics entry'}}">
  <ion-content class="has-header">
    <form name="form" novalidate class="validation-form">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Title *</span>
		    <input type="text" placeholder="comics title" ng-model="entry.name" required>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Series</span>
		    <input type="text" placeholder="comics series" ng-model="entry.series">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Publisher</span>
		    <input type="text" placeholder="publisher" ng-model="entry.publisher">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Authors</span>
		    <input type="text" placeholder="authors" ng-model="entry.authors">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Price</span>
		    <input type="number" placeholder="price" ng-model="entry.price">
		  </label>
		  <label class="item item-input item-stacked-label item-select">
		    <span class="input-label">Periodicity</span>
		    <select ng-model="entry.periodicity" ng-options="k as v for (k, v) in periodicities">
      		<option value=""></option>
      	</select>
		  </label>
		  <label class="item item-input item-stacked-label">
		  	<span class="input-label">Reserved</span>
			  <label class="toggle" style="float: right">
	   			<input type="checkbox" ng-model="entry.reserved" ng-true-value="T">
	   			<div class="track">
	     			<div class="handle"></div>
	   			</div>
				</label>
			</label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Notes</span>
		    <textarea placeholder="notes" rows="4" ng-model="entry.notes"></textarea>
		  </label>
		  <div class="content padding">
				<button class="button button-block button-positive" ng-click="update(entry)" ng-disabled="form.$invalid || !isUnique(entry)">SAVE</button>
			</div>
    </form>
  </ion-content>
</ion-view>
