.button.button-icon.clear-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

.rmm-required:after {
	content: '*';
	margin-left: 4px;
}

.rmm-required-message {
	color: #FA787E;
}

/* TODO: i colori non vanno bene, usare le icone */
.validation-form input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}

.validation-form input.ng-valid.ng-dirty {
	background-color: #78FA89;
}

/* Comics */
.item-comics .comics-icon {
	display: block;
	position: absolute;
	top: 16px;
	left: 16px;
	max-width: 40px;
	max-height: 40px;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 2em;
	color: #DB4545;
	border: solid 1px #ddd;
}

.item-comics p {
	margin-bottom: 0;
}

/* Release */
.release .info {
	text-align: center;
	width: 65px;
}

.release .info>span:first-child {
	font-size: 2.5em;
	font-weight: bold;
}